body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #89adcf; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.topRightLinks {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: small;
}

h2 a {
  margin-right: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin: 0 20px;
}

h3 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}